html
    head
        title="GiveCoin"

        link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="css/style.css")
        link(rel="stylesheet" type="text/css" href="css/home.css")

        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    body
        .home
            h1 GiveCoin
            form(action="./profile.html" method="get")
                input(type="text" name="q" placeholder="Enter a name here" autofocus autocomplete="off")
            .information
                .box
                    h3 Mine cryptocurrencies